<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dion.onpoint">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".StartPage"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SearchPage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Definition"
            android:screenOrientation="portrait" />
        <activity
            android:name=".quotes"
            android:screenOrientation="portrait" />
        <activity
            android:name=".wikipedia"
            android:screenOrientation="portrait" />
        <activity
            android:name=".quora"
            android:screenOrientation="portrait" />
        <activity
            android:name=".reuters"
            android:screenOrientation="portrait" />
        <activity
            android:name=".youtube"
            android:screenOrientation="portrait" />
        <activity
            android:name=".hindu"
            android:screenOrientation="portrait" />
        <activity
            android:name=".notepad"
            android:label="@string/title_activity_notepad"
            android:theme="@style/AppTheme" />
        <activity android:name=".note" />
        <activity
            android:name=".DefinitionFinal"
            android:label="@string/title_activity_definition_final"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".QuotesFinal"
            android:label="@string/title_activity_quotes_final"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ReutersFinal"
            android:label="@string/title_activity_reuters_final"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".WikiFinal"
            android:label="@string/title_activity_wiki_final"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".QuoraFinal"
            android:label="@string/title_activity_quora_final"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".YoutubeFinal"
            android:label="@string/title_activity_youtube_final"
            android:theme="@style/AppTheme" />
        <activity android:name=".Notepage" />
        <activity
            android:name=".HinduMain"
            android:label="@string/title_activity_hindu_main"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>
